
        body {
            margin: 0;
            height: 100vh;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            flex-direction: column;
        }

        img {
            width: 140px;
            position: relative;
            z-index: 10;
            cursor: pointer;
        }

        .click-text {
            color: white;
            font-size: 10px;
            margin-top: -1px;
            opacity: 1;
            white-space: nowrap; 
        }

        .stars {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
        }

        .star {
            position: absolute;
            width: 2px;
            height: 2px;
            background: white;
            border-radius: 50%;
            opacity: 0.8;
            animation: twinkle 2s infinite, moveStar 10s linear infinite;
        }

        @keyframes twinkle {
            0%, 100% {
                opacity: 0.6;
            }
            50% {
                opacity: 1;
            }
        }

        @keyframes moveStar {
            0% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(calc(100vw * var(--moveX)), calc(100vh * var(--moveY)));
            }
        }